.header {
  margin-top: -2vh;
  height: auto;
  max-height: 70vh;
  width: 100%;
  text-align: center;
  position: relative;
  background-image: linear-gradient(
    to right bottom,
    rgba(0, 0, 0, 0.5),
    rgb(0, 0, 0, 0.9)
  );

  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.header img {
  width: 100%;
  max-height: 70vh;
  height: auto;
  opacity: 0.3;
}

.details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
}

.mapbox {
  margin-top: 100px;
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
}

.factsBox {
  display: flex;
  justify-content: center;
  /* background-color: rgb(168, 156, 156, 0.2); */
  /* border-radius: 10px; */
  /* height: 50vh; */
  /* margin-top: -5vh; */
  font-size: 0.8rem;
}

.facts {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  justify-content: center;
}
