.header {
  /* background-color: rgba(96, 95, 95, 0.699); */
  position: fixed;
  height: 3vh;
  top: 1%;
  right: 50%;

  transform: translate(50%, -50%);

  /* display: flex; */
  /* margin: 0 auto; */
  /* justify-content: center; */
  width: 110%;
  z-index: 100;
  /* color: red !important; */
  /* min-height: 1000px; */
  /* font-weight: 1000; */
}

.link {
  color: black;
  text-decoration: none;
}

.link:hover {
  font-size: 1.25rem;
  color: black;
}
