.header {
  position: fixed;
  height: 0px;
  top: 0%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 100%;
  z-index: 100;
}

.link {
  margin-top: auto;
  color: black;
  text-decoration: none;
  cursor: pointer;
  margin: 10px;
}

.link:hover {
  cursor: pointer;
  color: rgb(168, 54, 54);
  text-decoration: none;
}
